*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.container nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #222;
    width: 100%;
    height: 80px;
}

nav .left .logo{
    background-color: rgb(132, 175, 218);
    padding: 10px;
    font-size: 3rem;
    border-radius: 5px;
    color: white;
}

nav .rigth a{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0 10px;
}

/*Cuerpo*/
.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    height: 50vh;
    margin: 10px  auto;
}

.cards h2, p{
    font-size: 2rem;
    margin: 10px 0;
}

.card{
    background-color: #222;
    width: 200px;
    height: 250px;
    color: white;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    text-align: center;
}

.card button{
    font-size: 1.5rem;
    background-color: rgb(132, 175, 218);
    border: none;
    padding: 5px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 30px;
}