*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.container nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightseagreen;
    width: 100%;
    height: 80px;
    padding: 0 20px;
}

nav .left .logo{
    background-color: lightslategray;
    padding: 10px;
    font-size: 3rem;
    border-radius: 5px;
    color: white;
}

nav .rigth a{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}